.idea
*.iml
target
*.DS_Store

application.properties
src/main/resources/schema.mwb.bak

src/main/webapp/resources/js/admin.js
src/main/webapp/resources/js/survey.js
src/main/webapp/resources/css/admin.css
src/main/webapp/resources/css/survey.css
grunt.config.js