<form action="#">
    <input type="hidden" name="id" value="{{task.id}}" />

    <div>
        <ul class="nav nav-tabs">
            <li class="active">
                <a href data-target="#general" data-toggle="tab">General</a>
            </li>
            <li>
                <a href data-target="#questions" data-toggle="tab">Questions</a>
            </li>
            <li>
                <a href data-target="#tests-taken" data-toggle="tab">Tests taken</a>
            </li>
        </ul>

        <div class="tab-content" id="task-tab-content">
            <div class="tab-pane active" id="general">
                <div id="description-group">
                    <form>
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control input-large" id="name" ng-model="task.name" placeholder="Name"/>
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label><br/>
                            <textarea id="description" placeholder="Description" ng-model="task.description" class="form-control input-large" rows="10"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="daysExpired">Days expired</label>
                            <input type="number" class="form-control input-small" id="daysExpired" ng-model="task.daysExpired" min="1" max="31"/>
                        </div>
                        <div class="form-group">
                            <label for="timeForSolving">Minutes for solving</label>
                            <input id="timeForSolving" ng-model="task.minutesForSolving" type="number" min="1" class="form-control input-small"/>
                        </div>
                    </form>
                </div>
            </div>

            <div class="tab-pane" id="questions">
                <div class="container">
                    <div>
                        <button class="btn btn-primary" ng-click="addNewQuestion()" type="button">Add new question</button>
                        <button class="btn btn-danger" ng-click="removeSelectedQuestions()" type="button">Remove selected</button>
                    </div>

                    <div class="list-group" id="questions-list">
                        <div ng-repeat="question in task.questions">
                            <div class="cell-checkbox">
                                <input ng-model="question.selected" type="checkbox" />
                            </div>
                            <ul class="cell-question">
                                <li ng-class="getClass(question)" class="list-group-item" ng-click="editQuestion(question)">{{ question.text }}</li>
                            </ul>
                        </div>
                    </div>
                    <div id="question-content" ng-show="question" ng-controller="QuestionController">
                        <form>
                            <div class="form-group">
                                <label for="txtText">Question text</label>
                                <textarea id="txtText" ng-model="question.text" class="form-control input-large" rows="10"></textarea>
                            </div>
                            <div class="checkbox">
                                <label for="multiselect">
                                    <input id="multiselect" type="checkbox" ng-model="question.multiSelect"/>
                                    Multiselect question
                                </label>
                            </div>

                            <fieldset>
                                <legend>Answers</legend>
                                <div ng-repeat="answer in question.answers">
                                    <input ng-model="answer.selected" type="checkbox"/>

                                    <div class="form-group">
                                        <label>Answer text</label>
                                        <textarea ng-model="answer.text" class="form-control input-large" rows="2"></textarea>
                                    </div>

                                    <div class="checkbox">
                                        <label for="multiselect">
                                            <input type="checkbox" ng-model="answer.right"/>
                                            Correct answer
                                        </label>
                                    </div>
                                </div>

                                <div class="control-buttons">
                                    <button class="btn btn-primary" ng-click="addNewAnswer(question)" type="button">Add new answer</button>
                                    <button class="btn btn-danger" ng-click="removeSelectedAnswers()" type="button">Remove</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="tests-taken">
                Tests taken

                <em>TBD</em>
            </div>
        </div>
    </div>

    <div class="control-buttons">
        <input class="btn btn-primary" ng-click="saveTask()" type="button" value="Save task">
        <input class="btn btn-primary" ng-click="createSurvey()" type="button" value="Send test">
    </div>
</form>