<form action="#">
    <input type="hidden" name="id" value="{{task.id}}" />

    <div>
        <ul class="nav nav-tabs">
            <li class="active">
                <a  href data-target="#general" data-toggle="tab">General</a>
            </li>
            <li>
                <a href data-target="#questions" data-toggle="tab">Questions</a>
            </li>
            <li>
                <a href data-target="#tests-taken" data-toggle="tab">Tests taken</a>
            </li>
        </ul>

        <div class="tab-content" id="task-tab-content">
            <div class="tab-pane active" id="general">
                <div id="description-group" class="form-group">
                    <form>
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control input-medium" id="name" ng-model="task.name" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label><br/>
                            <textarea id="description" placeholder="Description" ng-model="task.description" class="textarea-medium"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="daysExpired">Days expired</label>
                            <input type="text" class="form-control input-small" id="daysExpired" ng-model="task.daysExpired" placeholder="1-31" pattern="[0-9]">
                        </div>
                        <div class="form-group">
                            <label for="timeForSolving">Minutes for solving</label>
                            <input id="timeForSolving" ng-model="task.minutesForSolving" type="text" class="form-control input-small">
                        </div>
                    </form>
                </div>
            </div>

            <div class="tab-pane" id="questions">
                <div class="container">
                    <div>
                        <input class="btn btn-primary" ng-click="addNewQuestion()" type="button" value="Add new question" />
                        <input class="btn btn-primary" ng-click="removeSelectedQuestions()" type="button" value="Remove selected" />
                    </div>

                    <div class="list-group" id="questions-list">
                        <div ng-repeat="question in task.questions">
                            <div class="cell-checkbox">
                                <input ng-model="question.selected" type="checkbox" />
                            </div>
                            <div class="cell-question">
                                <li role="presentation" ng-class="getClass(question)" href class="list-group-item"  ng-click="editQuestion(question)">{{ question.text }}</li>
                            </div>
                        </div>
                    </div>
                    <div id="question-content" ng-show="question" ng-controller="QuestionController">
                        <div>
                            <form>
                                <div class="form-group">
                                    <label for="txtText"/>
                                    <textarea id="txtText" ng-model="question.text" class="textarea-medium" />
                                </div>
                                <div class="form-group">
                                    <input id="multiselect" type="checkbox" ng-model="question.multiSelect">
                                    <label for="multiselect">multiselect</label>
                                </div>
                                <div class="form-group">
                                    <fieldset>
                                        <legend>Answers</legend>
                                        <div ng-repeat="answer in question.answers">
                                            <input ng-model="answer.selected" type="checkbox" />
                                            <textarea class="text-answer" type="text" ng-model="answer.text" />
                                            <input type="checkbox" ng-model="answer.right" />
                                        </div>

                                        <div class="control-buttons">
                                            <input class="btn btn-primary" ng-click="addNewAnswer(question)" type="button" value="Add new answer">
                                            <input class="btn btn-primary" ng-click="removeSelectedAnswers()" type="button" value="Remove">
                                        </div>
                                    </fieldset>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="tests-taken">
                Tests taken
            </div>
        </div>
    </div>

    <div class="control-buttons">
        <input class="btn btn-primary" ng-click="saveTask()" type="button" value="Save task">
        <input class="btn btn-primary" ng-click="createSurvey()" type="button" value="Send test">
    </div>
</form>