<table class="table table-hover surveyList">
    <thead>
        <tr>
            <th>#</th>
            <th>User</th>
            <th>Key</th>
            <th>Started</th>
            <th>Finished</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="survey in $ctrl.surveys" ui-sref="surveyItem({id: survey.id})">
            <th scope="row" ui-sref="surveyItem({id: survey.id})">{{survey.id}}</th>
            <td ui-sref="surveyItem({id: survey.id})">{{survey.email}}</td>
            <td><a href="/natekrank/survey/{{survey.token}}">{{survey.token}}</a></td>
            <td ui-sref="surveyItem({id: survey.id})">{{survey.started}}</td>
            <td ui-sref="surveyItem({id: survey.id})">{{survey.finished}}</td>
            <td>
                <button class="btn btn-warning"
                    ng-if="survey.sent"
                    ng-click="$ctrl.resendSurvey(survey)">
                    Resend
                </button>
            </td>
        </tr>
    </tbody>
</table>