<div class="control-buttons">
    <a ui-sref="createTask" class="btn btn-success">Create task</a>
</div>

<table class="table table-hover taskList">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Description</th>
            <th>Created / Modified</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="task in $ctrl.tasks" ui-sref="tasksItem({id: task.id})">
            <td>{{task.id}}</td>
            <td>{{task.name}}</td>
            <td>{{task.description}}</td>
            <td>{{task.created}} / {{task.modified}}</td>
        </tr>
    </tbody>
</table>