<form action="#">
    <input type="hidden" name="id" value="{{$ctrl.task.id}}" />

    <div>
        <ul class="nav nav-tabs">
            <li class="active">
                <a href data-target="#general" data-toggle="tab">General</a>
            </li>
            <li>
                <a href data-target="#questions" data-toggle="tab">Questions</a>
            </li>
            <li>
                <a href data-target="#tests-taken" data-toggle="tab">Tests taken</a>
            </li>
        </ul>

        <div class="tab-content" id="task-tab-content">
            <div class="tab-pane active" id="general">
                <div id="description-group">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control input-large" id="name" ng-model="$ctrl.task.name" placeholder="Name"/>
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label><br/>
                        <textarea id="description" placeholder="Description" ng-model="$ctrl.task.description" class="form-control input-large" rows="10"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="daysExpired">Days expired</label>
                        <input type="number" class="form-control input-small" id="daysExpired" ng-model="$ctrl.task.daysExpired" min="1" max="31"/>
                    </div>
                    <div class="form-group">
                        <label for="timeForSolving">Minutes for solving</label>
                        <input id="timeForSolving" ng-model="$ctrl.task.minutesForSolving" type="number" min="1" class="form-control input-small"/>
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="questions">
                <div class="control-buttons">
                    <button class="btn btn-success" ng-click="$ctrl.addNewQuestion()" type="button">Add new question</button>
                </div>

                <div class="row">
                    <div class="list-group col-md-3">
                        <ul class="cell-question">
                            <li class="list-group-item"
                                ng-repeat="question in $ctrl.task.questions"
                                ng-class="{active: question === $ctrl.selectedQuestion}"
                                ng-click="$ctrl.editQuestion(question)">
                                {{ question.text }}
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-9" ng-if="$ctrl.selectedQuestion">
                        <div class="clearfix">
                            <button class="btn btn-danger pull-right" ng-click="$ctrl.removeSelectedQuestion()" type="button">Remove this question</button>
                        </div>
                        <task-question question="$ctrl.selectedQuestion"></task-question>
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="tests-taken">
                <table class="table table-hover taskList">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="survey in $ctrl.task.surveys" ui-sref="surveyItem({id: survey.id})">
                        <th scope="row" ui-sref="surveyItem({id: survey.id})">{{survey.id}}</th>
                        <td ui-sref="surveyItem({id: survey.id})">{{survey.email}}</td>
                        <td><a href="/natekrank/survey/{{survey.token}}">{{survey.token}}</a></td>
                        <td ui-sref="surveyItem({id: survey.id})">{{survey.started}}</td>
                        <td ui-sref="surveyItem({id: survey.id})">{{survey.finished}}</td>
                        <td>
                            <button class="btn btn-warning"
                                    ng-if="survey.sent"
                                    ng-click="$ctrl.resendSurvey(survey)">
                                Resend
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="control-buttons">
        <button class="btn btn-primary" ng-click="$ctrl.saveTask()" type="button">Save task</button>
        <button class="btn btn-warning" ng-click="$ctrl.createSurvey()" type="button">Send test</button>
    </div>
</form>