#sn-position {
  position: relative;

  #h1 {
    position: absolute;
    letter-spacing: -1px;
    z-index: 1029;
    margin: 0px;
    padding: 0px;
    font-weight: 300;
    top: 9px;
    color: #2a2a2a;
    text-align: center;
    width: 100%;
    left: 0px;
    font-size: 25.5px;

    span {
      font-weight: 700;
    }


    & a,
    & a:hover {
      color: #2a2a2a;
      text-decoration: none;
    }
  }

  img {
    max-width: 100%;
  }
}