#bot-modules-2 {
  background-color: #1e1e1e;
  color: #ffffff;

  > .container {
    border-bottom: 2px solid #2d2d2d;
  }

  ul {
    padding: 3px 0px;
    margin: 0px;
    background-image: none;
    list-style: none;

    li {
      color: #ffffff;
      background-image: none;
      list-style: none;

      a {
        margin-left: 9px;
      }

      &::before {
        content: '>';
      }
    }
  }

  a {
    color: #0091dc;
  }
}

#footer {
  background-color: #1e1e1e;
  color: #9d9d9d;

  a {
    color: #ffffff;

    &:hover {
      color: #0091dc;
    }
  }
}

.moduletable {
  margin-bottom: 20px;

  .module-content {
    padding: 0px 0px 3px 0px;
  }

  h3 {
    font-family: 'Arial', Arial, Helvetica, sans-serif;
    letter-spacing: 0px;
    font-weight: 300;
    padding: 0px 0px 20px 0px;
    font-size: 18px;
    margin-bottom: 0px;
    line-height: 1.2em;
  }

  ul li {
    margin: 0 0 0 5px;
  }
}

#social-icons-footer {
  margin-left: -8px;
}

.social-icons-footer {
  float: left;
  margin-left: 8px;
}